@page "/"
@using Funda.Enums;
@using Funda.Exceptions;
@using Funda.Models;
@using System.Diagnostics;
@using Funda.Services.Interfaces;

<PageTitle>Index</PageTitle>

<div class="flex flex-row h-64 justify-center items-end">
    <input type="text" placeholder="City" class="input input-bordered w-full max-w-xs" @bind="_city" />

    <select class="select select-bordered w-full max-w-xs ml-5" @bind="_selectedTypeOption">
        <option value="@FundaObjectType.Buy" selected>Buy</option>
        <option value="@FundaObjectType.Rent">Rent</option>
    </select>

    <select class="select select-bordered w-full max-w-xs ml-5" @bind="_selectedCalculationOption">
        <option value="@TopAgentsOption" selected>Top 10 Makelaars</option>
        <option value="@TopAgentsWithGardenOption">Top 10 Makelaars with garden objects</option>
    </select>

    <button class="btn btn-primary ml-10" @onclick="Calculate">Calculate</button>
</div>


<div class="flex flex-1 justify-center mt-20">
    @if(!string.IsNullOrEmpty(_errorMessage))
    {
        <h1>@_errorMessage</h1>
    }
    else if(topAgents?.Count > 0)
    {
        <div class="overflow-x-auto">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Real Estate Agent Name</th>
                        <th>Number of objects in sale</th>
                    </tr>
                </thead>
                <tbody>
                    @{var index = 1;}

                    @foreach (var agent in topAgents)
                    {
                        <tr>
                            <th>@index</th>
                            <td>@agent.Key</td>
                            <td>@agent.Value</td>
                        </tr>

                        index++;
                    }
                </tbody>
            </table>
        </div>
    }
    else if (_progress >= 0)
    {
        <div class="radial-progress text-primary" style="--value:@_progress;">@($"{_progress}%")</div>
    }
</div>


@code {
    @inject IFundaStat _fundaStat;

    private const string TopAgentsOption = "topAgents";
    private const string TopAgentsWithGardenOption = "topAgentsWithGarden";

    private int _progress = -1;
    private string _errorMessage;
    private string _city;
    private string _selectedCalculationOption = TopAgentsOption;
    private FundaObjectType _selectedTypeOption = FundaObjectType.Buy;
    private Dictionary<string, int> topAgents;

    private CancellationTokenSource _cancellationTokenSource;

    private async void Calculate()
    {
        _errorMessage = "";
        _progress = 0;
        topAgents = new Dictionary<string, int>();

        // cancel previous calculation
        _cancellationTokenSource?.Cancel();
        _cancellationTokenSource = new CancellationTokenSource();

        try
        {
            var withGarden = _selectedCalculationOption == TopAgentsWithGardenOption;
            topAgents = await _fundaStat.GetTopAgents(_city, _selectedTypeOption, withGarden, _cancellationTokenSource.Token, UpdateProgress);
        }
        catch(RetryLimitExceededException)
        {
            _errorMessage = "It took longer than expected :( Please try again later.";
        }
        catch(OperationCanceledException ex)
        {
            Debug.WriteLine(ex);
        }

        StateHasChanged();
    }

    private void UpdateProgress(int progress)
    {
        _progress = progress;
        StateHasChanged();
    }
}
